<!doctype html>
<html lang="en">

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="../static/pultstyle.css">
</head>

<body>
<h1 align='center'>{{body_content}}</h1>
<a id="NAV_back" href="../static">Назад</a>
</br>
    <table width=100%>
        <thead>
            
            <tr>
            <th> Time </th>
            <th> D0 </th>
            <th> D1 </th>
            <th> D2 </th>
            <th> D3 </th>
            <th> C4 </th>
            <th> D5 </th>
            <th> D6 </th>
            <th> D7 </th>
            <th> ID </th>
              {% for c in cn %}
                 <th>{{ c }} </th>
              {% endfor %}
            </tr>
        </thead>
        <tbody>
               {% for f in frames %}
               <tr>
                 <th>{{ f.tim }} </th>
		 <th>{{ f.d0 }} </th>
                 <th>{{ f.d1 }} </th>
                 <th>{{ f.d2 }} </th>
                 <th>{{ f.d3 }} </th>
                 <th>{{ f.d4 }} </th>
                 <th>{{ f.d5 }} </th>
                 <th>{{ f.d6 }} </th>
                 <th>{{ f.d7 }} </th>
                 <th align="right">{{ f.adr }} </th>
		 <th>{{ f.a0 }} </th>
                 <th>{{ f.a1 }} </th>
                 <th>{{ f.a2 }} </th>
                 <th>{{ f.a3 }} </th>
                 <th>{{ f.a4 }} </th>
                 <th>{{ f.a5 }} </th>
                 <th>{{ f.a6 }} </th>
                 <th>{{ f.a7 }} </th>
               </tr>
              {% endfor %}
        
        </tbody>
    </table>

</br><a id="NAV_back" href="../static">Назад</a></br>

</body>

</html>
