<h1> Две формы</h1>
<h3>Форма №1: Add 2</h3>
<form action="/form1" method="post">
    <input type="number" name="number" value="" required />
    <input type="submit">
</form>

<h3>Форма №2: </h3>
<form action="/form2" method="post">
    <input type="number" name="number" value="" required />
    <input type="submit" name="action" value="a100">
    <input type="submit" name="action" value="m100">
    <input type="button" name="btt" value="KNOPKA" onclick="app.sigma">
</form>

<h2>Your number is {{yournum}} and the result is {{result}}.</h2>
