body{
  background-color: LemonChiffon;
}

h1 {
  letter-spacing: 0.5em;  
  background-color: Khaki;
  font-family: Arial, Helvetica, sans-serif;  
  /*text-decoration: underline Navy solid 0.2em;*/
  color: Blue;  
  word-spacing: 2em;
}

h2 {
  letter-spacing: 0.5em;  
  background-color: Khaki;
  font-family: Arial, Helvetica, sans-serif;  
  /*text-decoration: underline Navy solid 0.2em;*/
  color: Navy  
  word-spacing: 2em;
}

h3 {
background-color: Khaki;
  font-family: Arial, Helvetica, sans-serif;  
    
}

h4 {
  background-color: Khaki;
  font-family: Arial, Helvetica, sans-serif;  
  font-size: 1.2em;
    
}

thead {
  background-color: SteelBlue;
  font-family: Arial, Helvetica, sans-serif;
color: yellow;
}
tbody {
  background-color: LightCyan;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

label {
  font-size: 1.1em;
  font-family: Arial, Helvetica, sans-serif;  
    
}

p {
   font-size: 1.1em;
   color: black;
   font-family: Arial, Helvetica, sans-serif;
}

dt {
   font-size: 1em;
   color: black;
   font-family: Arial, Helvetica, sans-serif;
}

dl {
   font-size: 1em;
   color: black;
   font-family: Arial, Helvetica, sans-serif;
}

/*button {
  background-color: MediumBlue;
  color: white;
  font-weight: bold;
}*/


button {
  background-color: MediumBlue;
  border: 2px solid SteelBlue;
  color: white;
  border-radius: 4px;
  padding: 2px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  font-size: 1em;
  transition-duration: 0.2s;
}


button:hover {
  background-color: SteelBlue; 
  color: white;
}

#NAV_back{
   padding: 4px 30px;
text-decoration: none;
   background-color: MediumBlue;
   color: withe;
   font-size: 1.1em;
   font-family: Arial, Helvetica, sans-serif;

}
#NAV_back:visited{
   color: yellow;
}
#NAV_back:hover {
  background-color: SteelBlue; 
  color: white;
}
